body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-logo {
    width: 150px;
    height: auto;
    display: flex;
    align-items: flex-end;
    padding-top: 19px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #EE4266;
    color: white;
    padding-right: 20px;  
    padding-left: 20px;
    height: 130px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

/* make image wrapped if possible */

 .section1 {
    display: flex;
    justify-content: center;
}

.section1-img {
    display: flex;
    align-items: center;
    flex-basis: 0;
}

#image1 {
    width: 500px;
    height: auto;
    border: 10px solid #FFD23F;
    border-radius: 5px;
    margin: 30px;
}

.container1 {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    padding: 100px;
}

.pancake {
    max-width: 150px;
    background-color: #00a5e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.section2 {
    background-color: #00a5e3;
    color: white;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ranking {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE4266;
    color: white;
    height: 80px;
}

.section2 img {
    width: 150px;
    height: 100px;
    border: 5px solid #FFD23F;
    border-radius: 3px;
}

.ranking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    font-weight: bold;
    font-size: large;
}

.quote-container {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #EE4266;
    margin: 100px;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    color: white;
    font-size: x-large;
    width: 100%;
}

.quote-credit {
    color: white;
    font-size: large;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.section3 {
    background-color: #00a5e3;
    color: white;
    height: 100px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3-text {
    display: flex;
    flex-direction: column;
}


.signup {
    background-color: #FFD23F;
    color: white;
    font-weight: bolders;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
    border-radius: 5px;
    border: none;
}

.question {
    font-size: larger;
    font-weight: bolder;
}